<form name="loginForm" ng-submit="submit()" novalidate>

    <label>username<input type="text" name="username" ng-model="username" required ng-pattern="/^[a-zA-Z]*$/">
    </label>
    <span ng-show="loginForm.username.$error.pattern" style="color: red">enter only letters </span>
    <br>
    <br>

    <label>password<input type="text" name="password" ng-model="password" required ng-pattern="/^[A-z0-9]+$/">
    </label>

    <span ng-show="loginForm.password.$error.pattern" style="color: red">enter only letters and numbers </span>
    <br>
    <br>


    <input ng-disabled="loginForm.$invalid" type="submit" id="submitButton" value="Login">

    <a href="#!register" style=
            "background-color: #45a049;
            color: white;
            padding: 8px 20px;
            border: none;
            border-radius: 2px;
            text-decoration: none;
            cursor: pointer;">
        Register
    </a>

    <span style="color: red" id="submitText"> {{ answer }}</span>

    <br>
    <br>
    <br>

    <a href="#!passwordRecovery" style=
            "background-color: #a04b51;
            color: white;
            padding: 8px 20px;
            border: none;
            border-radius: 2px;
            text-decoration: none;
            cursor: pointer;">
        I forgot my password :(
    </a>
</form>