<!-- css -->
<style>
    img {
        height: 100px;
    }
</style>

<h2>POI</h2>

<h5>Search Point Of Interest by:</h5>
<select ng-model="selection">
        <option value="name">Name</option>
        <option value="category">Category</option>
</select>
<input type="text" id="myText" ng-model="myText"><br><br>
<button ng-click="getPoisFromSearch()" >Search</button><br><br>
<button ng-click="viewAll()" >Show All Points Of Interest</button><br><br>
<button ng-click="sortByRank()" >Order Points Of Interest by Rate</button><br>



<div ng-if="nameVisible">
    <div ng-repeat="poi in currPoisByName">
        Point Of Interest Name: <span ng-bind="poi.name" ng-click="goToPointPage(poi.name)"></span><br>
        Point Of Interest Category: <span ng-bind="poi.categoryName"></span><br>
        Point Of Interest Rank: <span ng-bind="poi.rank"></span><br>
        <img ng-src="{{ poi.image }}" ng-click="goToPointPage(poi.name)">
        <span ng-if="isLogged">
            <img ng-src="{{ favorites[poi.name] }}" ng-click="changeStar(poi.name)"
                 style="height: 50px; vertical-align: top; margin-left: -50px"><br><br><br><br><br>
        </span>
    </div>
</div>


<div ng-if="categoryVisible">
        <div ng-repeat="poi in currPoisByCategory">
            Point Of Interest Name: <span ng-bind="poi.name" ng-click="goToPointPage(poi.name)"></span><br>
            Point Of Interest Category: <span ng-bind="poi.categoryName"></span><br>
            Point Of Interest Rank: <span ng-bind="poi.rank"></span><br>
            <img ng-src="{{ poi.image }}" ng-click="goToPointPage(poi.name)">
            <span ng-if="isLogged">
                <img ng-src="{{ favorites[poi.name] }}" ng-click="changeStar(poi.name)"
                     style="height: 50px; vertical-align: top; margin-left: -50px"><br><br><br><br><br>
            </span>
        </div>
</div>


<div ng-if="byRankVisible">
        <div ng-repeat="poi in poisByRank">
            Point Of Interest Name: <span ng-bind="poi.name" ng-click="goToPointPage(poi.name)"></span><br>
            Point Of Interest Category: <span ng-bind="poi.categoryName"></span><br>
            Point Of Interest Rank: <span ng-bind="poi.rank"></span><br>
            <img ng-src="{{ poi.image }}" ng-click="goToPointPage(poi.name)">
            <span ng-if="isLogged">
                <img ng-src="{{ favorites[poi.name] }}" ng-click="changeStar(poi.name)"
                     style="height: 50px; vertical-align: top; margin-left: -50px"><br><br><br><br><br>
            </span>
        </div>
</div>

<div ng-if="allCategoriesVisible">
    <div ng-repeat="x in allCategories">
        <h3>Category: {{x}}</h3>
        <div ng-repeat="poi in pois">    
            <div ng-if="poi.categoryName===x">
                Point Of Interest Name: <span ng-bind="poi.name" ng-click="goToPointPage(poi.name)"></span><br>
                Point Of Interest Rank: <span ng-bind="poi.rank"></span><br>
                <img ng-src="{{ poi.image }}" ng-click="goToPointPage(poi.name)">
                <span ng-if="isLogged">
                    <img ng-src="{{ favorites[poi.name] }}" ng-click="changeStar(poi.name)"
                         style="height: 50px; vertical-align: top; margin-left: -50px"><br><br><br><br><br>
                </span>
            </div>
        </div>
        
    </div>
</div>


