<div>
    <button ng-click="setFavortieListDB()">save your favorite points</button>
    <button ng-click="sortByRank()">sort by rank</button>
    <button ng-click="sortByCategory()">sort by category</button>
</div>
<div  ng-repeat="poi in favorPois">
    <div>
        <b><span ng-bind="poi.name" ng-click="goToPointPage(poi.name)"></span></b><br>
        <i>
            Rank: <span ng-bind="poi.rank"></span><br>
            Category: <span ng-bind="poi.categoryName"></span><br>
        </i>
        <img ng-src="{{ poi.image }}" ng-click="goToPointPage(poi.name)" height="100px">
        <img ng-src="{{ service.favoritesList[poi.name] }}" ng-click="changeStar(poi.name)"
             style="height: 50px; vertical-align: top; margin-left: -50px">
        <br><br><br>
        <!--        <button ng-click="removeFromFavorites(poi.name)">remove {{poi.name}} from favorites</button>-->
        <!--        <br>-->
        <!--        <br>-->
    </div>
</div>