<style>
        img {
            height: 100px;
        }
</style>

<div ng-if="!isLogged">
    <h1>Hello Guest</h1>
    <h3>Three random popular Points Of Interest (points above rank of {{desiredRank}}):</h3>
    <h5>Set rank limit of your own:</h5>
    <input type="number" id="chosenRank">
    <button ng-click="changeRank()">Set Rank!</button>
    <p ng-repeat="poi in randomPois">
        Point Of Interest Name: <span ng-bind="poi.name" ng-click="goToPointPage(poi.name)"></span><br>
        Point Of Interest Category: <span ng-bind="poi.categoryName"></span><br>
        Point Of Interest Rank: <span ng-bind="poi.rank"></span><br>
        <img ng-src="{{ poi.image }}" ng-click="goToPointPage(poi.name)"><br><br><br>
    </p>
</div>

<div ng-if="isLogged">
    <div class="split left">
        <div class="centered">
            <h2>Last Saved Points Of Interest</h2>
            <h3>{{messageForLogged}}</h3>
            <p ng-repeat="poi in topPois">
                Point Of Interest Name: <span ng-bind="poi.name" ng-click="goToPointPage(poi.name)"></span><br>
                Point Of Interest Category: <span ng-bind="poi.categoryName"></span><br>
                Point Of Interest Rank: <span ng-bind="poi.rank"></span><br>
                <img ng-src="{{ poi.image }}" ng-click="goToPointPage(poi.name)">
                <span ng-if="isLogged">
                    <img ng-src="{{ favorites[poi.name] }}" ng-click="changeStar(poi.name)"
                         style="height: 50px; vertical-align: top; margin-left: -50px">
                </span><br><br><br>
            </p>
        </div>
    </div>
            
    <div class="split right">
        <div class="centered">
            <br>
            <br>
            <br>
            <h2>Most popular points of interest from your preferred categories:</h2>
            <h3>{{categoryA}}</h3>
            <p ng-if="noPoiOfCategoryAlertA.length === 0">
                Point Of Interest Name: <span ng-bind="bestA.name" ng-click="goToPointPage(bestA.name)"></span><br>
                Point Of Interest Category: <span ng-bind="bestA.categoryName"></span><br>
                Point Of Interest Rank: <span ng-bind="bestA.rank"></span><br>
                <img ng-src="{{ bestA.image }}" ng-click="goToPointPage(bestA.name)">
                <span ng-if="isLogged">
                    <img ng-src="{{ favorites[bestA.name] }}" ng-click="changeStar(bestA.name)"
                         style="height: 50px; vertical-align: top; margin-left: -50px">
                </span><br><br><br>
            </p>
            {{noPoiOfCategoryAlertA}}
            <br>
            <h3>{{categoryB}}</h3>
            <p ng-if="noPoiOfCategoryAlertB.length === 0">
                Point Of Interest Name: <span ng-bind="bestB[0].name" ng-click="goToPointPage(bestB.name)"></span><br>
                Point Of Interest Category: <span ng-bind="bestB.categoryName"></span><br>
                Point Of Interest Rank: <span ng-bind="bestB.rank"></span><br>
                <img ng-src="{{bestB.image }}" ng-click="goToPointPage(bestB.name)">
                <span ng-if="isLogged">
                    <img ng-src="{{ favorites[bestB.name] }}" ng-click="changeStar(bestB.name)"
                         style="height: 50px; vertical-align: top; margin-left: -50px">
                </span><br><br><br>
            </p>
            {{noPoiOfCategoryAlertB}}
        </div>
    </div>
</div>