<form name="form" id="usernameForm" ng-submit="submit()" novalidate>

    <label>username<input type="text" name="username" ng-model="username" required
                          ng-pattern="/^[a-zA-Z]*$/">
    </label>
    <span ng-show="form.username.$error.pattern" style="color: red">enter only letters </span>
    <br>
    <br>

    <input ng-disabled="form.$invalid" type="submit" id="submitButton" value="Get another question">
    <span style="color: red" id="submitText"> {{ answer }}</span>
    <br>
</form>

<div id="questionSection" style="display: none;">
    Answer a question:
    <label>{{ question }} <input type="text" name="answerToQuestion" ng-model="answerToQuestion">
    </label>
    <br>
    <br>

    <button ng-click="submitAnswer()" style=
            "background-color: #45a049;
            color: white;
            padding: 8px 20px;
            border: none;
            border-radius: 2px;
            cursor: pointer;">
        Submit answer
    </button>
    <span style="color: red" id="submitText2"> {{ answer2 }}</span>
    <br>
    <br>
</div>

<div id="passwordSection" style="display: none; color: #047b00">
    Your password is:
    <span id="password">{{ correctPassword }}</span>
    <br>
    <br>
</div>